Source: python-pefile
Section: python
Priority: optional
Maintainer: Hilko Bengen <bengen@debian.org>
Build-Depends: debhelper-compat (= 13), dh-python,
 python3, python3-setuptools,
Standards-Version: 4.6.1
Rules-Requires-Root: no
Homepage: https://github.com/erocarrera/pefile/
Vcs-Git: https://salsa.debian.org/debian/python-pefile.git
Vcs-Browser: https://salsa.debian.org/debian/python-pefile

Package: python3-pefile
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: Portable Executable (PE) parsing module for Python
 pefile is a Python module to read and work with Portable Executable (PE)
 files. Most of the information in the PE header is accessible, as well as all
 the sections, section information and data.
 .
 All the basic PE file structures are available with their default names as
 attributes of the returned instance.
 .
 Processed elements such as the import table are made available with lowercase
 names, to differentiate them from the upper case basic structure names.
 .
 pefile has been tested against the limits of valid PE headers; that is,
 Windows malware. Lots of packed malware attempt to abuse the format beyond its
 standard use.
 .
 Some of the tasks that pefile makes possible are:
  * Modifying and writing back to the PE image
  * Header inspection
  * Section analysis
  * Retrieving data
  * Warnings for suspicious and malformed values
  * Packer detection with PEiD signatures
  * PEiD signature generation
